html,
body,
#root {
  background-color: #000000;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  align-content: center;
}

.list-reminder {
  border: 1px solid #fff;
}

footer {
  margin-bottom: 20px;
}

.modal-content {
  min-height: 280px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.mb-40 {
  margin-bottom: 40px;
}
.color-dark {
  color: #000;
}

/* Datepicker text color */
.datepicker-date-display,
.datepicker-calendar-container,
.datepicker-calendar-container table td,
.datepicker-calendar-container table th {
  color: #000 !important;
}

/* Selected date circle */
.datepicker-calendar-container .is-selected {
  background-color: #26a69a !important;
  color: #fff !important;
}

/* Today’s date highlight */
.datepicker-calendar-container .is-today {
  border: 1px solid #26a69a !important;
}

/* Month and year header */
.datepicker-controls .datepicker-month,
.datepicker-controls .datepicker-year {
  color: #000 !important;
}
